#EPICheader{ 
    text-align: center; 
    animation: colorrotate 10s alternate-reverse infinite ; 
    color: transparent; 
} 
@keyframes colorrotate{ 
    0%{ 
        color:red; 
    } 
    20%{ 
        color:orange; 
    } 
    40%{ 
        color:yellow; 
    } 
    60%{ 
        color:green; 
    } 
    80%{ 
        color:blue; 
    } 
    100%{ 
        color:indigo; 
    } 
} 
#userMenu button{ 
    width:65px; 
} 
#shipPlayersMenu span{ 
    border-radius:10px;
    padding:2px;
    color:black; 
} 
#chat a,#motd a{    
    color: rgb(20, 188, 255) !important;
} 
.recent{
    animation: 300ms ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
}
#new-motd{
    white-space: pre;
    max-width: 400px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.link-wrapper:hover > .embed{    
    display:flex;
    
} 
.embed{
    display:none;
    justify-content: center;
    position: absolute;
    background: rgba(25,35,45,.9);
    border: 1px solid black;
    box-shadow: black 0px 0px 20px;
}
#avatarPFP{
    margin-right: 15px;
    height: 64px;
    width: 64px;
    border-radius: 20px;
}
#avatar{
    align-items: center
}

.usermenu-section{
    border: 1px solid white;
    padding:10px;
}
